.form-inline{
    display: flex;
}

.user{
    width: 25px;
}

input{
    width: 1000px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 100%;
    display: flex;
    justify-content: space-around;
}