<!-- navbar.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Foto y Nombre del Usuario -->
    <div class="d-flex align-items-center">
        <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
        <span class="navbar-text mr-2">Nombre del Usuario</span>
    </div>

    <!-- Cuadro de Búsqueda -->
    <form class="form-inline my-2 my-lg-0 mr-2 input-group">
    <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
    </form>

    <!-- Icono de Menú Hamburguesa -->
    <div class="dropdown">
        <div class="dropstart">
            <button type="button" class="btn btn-ligth" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
                <!-- Icono para Inicio -->
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-home fa-2x text-success"></i> Inicio
                    </a>
                </li>

                <!-- Icono para Historial -->
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-history fa-2x text-success"></i> Historial
                    </a>
                </li>

                <!-- Icono para Configuraciones -->
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-2x text-success"></i> Configuraciones
                    </a>
                </li>
            </ul>
        </div>
    
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
