/* .container.mt-5{
    margin: auto;
    padding: auto;
} */
.cd{
    display: flex;
}

.card{
    margin-top: 100px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log{
    margin-top: 350%;
    margin-left: 300%;
    margin-right: 0%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

#carouselExampleSlidesOnly{
    width: 80%;
    margin-left: 15%;
    padding: 10px;
    border: 1px  solid rgb(177, 177, 177);
    border-radius: 5px;
}
