.container.mt-5{
    padding-top: 50px;
}

.cd{
    display: flex;
}

.card{
    margin-top: 100px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}