<app-navbar></app-navbar>
<main>
    <div class="row">
        <div class="col-md-6">
            <div class="cancha-info">
                <div id="cc">
                    <app-celndario></app-celndario>
                <div id="Cancha">
                    <img id="canchaFoto" [src]="canchas[i].imagen" alt="{{ canchas[i].titulo }}">
                </div>
                </div>
                <div class="Comentarios" *ngFor="let comentario of canchas[i].comentarios">
                    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="Avatar de usuario">
                    {{ comentario }}
                </div>
                <div class="estrellas">
                    <form id="form">
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 descripcion-btns">
            <h6>{{ canchas[i].titulo }}</h6>
            <div id="db">
                <div class="descripcion-section">
                    <p id="descripcionCancha">
                        {{ canchas[i].descripcion }}
                    </p>
                </div>
                <div id="horario">
                    <button type="button" class="btn btn-success">07:00 - 09:00</button>
                    <button type="button" class="btn btn-success">10:00 - 13:00</button>
                    <button type="button" class="btn btn-success">14:00 - 16:00</button>
                    <button type="button" class="btn btn-success">17:00 - 19:00</button>
                    <button type="button" class="btn btn-success">20:00 - 22:00</button>
                </div>
            </div>
            <div class="selected-info">
                <p>La cancha está seleccionada para el día ---- del mes ---- en el horario de --:-- a --:--</p>
            </div>
            <div class="botones-aceptar-cancelar">
                <button type="button" class="btn btn-success">Aceptar</button>
                <button type="button" class="btn btn-danger" disabled>Cancelar</button>
            </div>
        </div>
    </div>
</main>
