<app-navbar></app-navbar>
<main>
    <section>
        <section id="CanchaCalendario">
            <app-celndario></app-celndario>
            <div id="Cancha">
                <img id="canchaFoto" src="https://donpotrero.com/img/posts/2/medidas_lg.jpg" alt="">
            </div>
        </section>
        <section id="calificacionCancha">
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
            <div class="Comentarios">
                <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque itaque culpa. Vel beatae ex ut voluptatibus corporis rem modi, illo voluptas dolore! Commodi aut eum autem modi, enim tempore.
            </div>
        </section>
    </section>
    <section>
        <section id="horario">
            <section id="Descripcion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ea praesentium dolorum esse quisquam quia deleniti? Numquam, ducimus atque odio aspernatur optio repellat, sapiente facilis sequi nesciunt, molestias fuga magni quos voluptatum quidem maxime autem est tenetur fugiat? Quibusdam neque voluptas, molestiae debitis officia ad tenetur praesentium ex pariatur maxime!
            </section>
            <section id="horas">
                <button type="button" class="btn btn-success">07:00 - 09:00</button>
                <button type="button" class="btn btn-success">10:00 - 13:00</button>
                <button type="button" class="btn btn-success">14:00 - 16:00</button>
                <button type="button" class="btn btn-success">17:00 - 19:00</button>
                <button type="button" class="btn btn-success">20:00 - 22:00</button>
            </section>
        </section>
        <section>
            <hr>
            <div>la cancha esta seleccionada para el dia -- del mes ---- en el horario de --:-- - --:--</div>
            <hr>
            <section id="AceptarCancelar">
                <button type="button" class="btn btn-success">Aceptar</button>
                <button type="button" class="btn btn-success" disabled>Cancelar</button>
            </section>
        </section>
    </section>
</main>
<!-- <app-sidebar></app-sidebar> -->
