<section id="usuarios">
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
    <hr>
    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
</section>
