<!-- pagina-principal.component.html -->

<div class="container">
    <app-navbar></app-navbar>
    <section class="cancha-section" *ngFor="let cancha of canchas">
        <div class="cancha-info">
            <!-- Sección de Calendario -->
            <div id="calendario">
            <app-celndario></app-celndario>
            <img id="canchaFoto" src="{{ cancha.imagen }}" alt="Cancha">
            <div id="descripcion">
                <p>{{ cancha.descripcion }}</p>
            </div>
            </div>
            <div id="comentarios">
                <div id="comentarioUser" *ngFor="let comentario of cancha.comentarios">
                    <img class="user" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
                    {{ comentario }}
                </div>
                <div id="btns">
                    <div class="estrellas">
                        <app-estrellas></app-estrellas>
                    </div>
                    <button class="btn btn-primary" (click)="reservarCancha()">Reservar</button>    
                </div>
            </div>
        </div>
    </section>
</div>
